
<div class="ui stackable grid">
  <% if @user.present? %>
    <div class="four wide column">
      <%= render 'profiles/sidebar', user: @user %>
    </div>
  <% end %>
  <div class="twelve wide column">
    <h1 class="ui header"><i class="code icon"></i> <div class="content"><%= t("projects.index.title") %></div></h1>
    <% if defined?(@projects_owner) && @projects_owner %>
      <div class="ui info message">Showing admin’s projects for <strong><%= @projects_owner.name %></strong> (@<%= @projects_owner.github_username %>).</div>
    <% end %>
    <% if @user.present? %>
      <div class="ui small grey text">Showing projects for <strong><%= @user.name %></strong> (@<%= @user.github_username %>)</div>
      <%= form_with url: projects_path, method: :get, local: true, html: { class: "ui form" } do |f| %>
        <div class="fields">
          <div class="ten wide field">
            <div class="ui left icon input fluid">
              <i class="search icon"></i>
              <%= text_field_tag :q, params[:q], placeholder: "Search projects", autocomplete: "off" %>
            </div>
          </div>
          <div class="three wide field">
            <div class="ui selection dropdown fluid">
              <input type="hidden" name="lang" value="<%= params[:lang] || 'all' %>">
              <i class="dropdown icon"></i>
              <div class="default text">Language</div>
              <div class="menu">
                <div class="item" data-value="all">All</div>
                <% @languages.each do |lng| %>
                  <div class="item" data-value="<%= lng %>"><%= lng %></div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="three wide field">
            <div class="ui selection dropdown fluid">
              <input type="hidden" name="topic" value="<%= params[:topic] %>">
              <i class="dropdown icon"></i>
              <div class="default text">Topic</div>
              <div class="menu">
                <% @all_topics.each do |t| %>
                  <div class="item" data-value="<%= t %>"><%= t %></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <button class="ui primary button" type="submit">Filter</button>
      <% end %>
    <% end %>

    <% if @projects.any? %>
      <div class="ui three stackable cards">
        <% @projects.each do |p| %>
          <a class="ui card" href="<%= p.html_url %>" target="_blank" rel="noopener">
            <div class="content">
              <div class="header"><%= p.repo_full_name %></div>
              <% if p.language.present? %>
                <div class="meta"><i class="circle icon" style="color:#999"></i> <%= p.language %></div>
              <% end %>
              <div class="description"><%= p.description %></div>
            </div>
            <div class="extra content">
              <% if p.pushed_at.present? %>
                <span class="right floated">Updated <%= time_ago_in_words(p.pushed_at) %> ago</span>
              <% end %>
              <div class="ui tiny labels">
                <div class="ui label"><i class="star icon"></i><%= p.stars.to_i %></div>
                <div class="ui label"><i class="fork icon"></i><%= p.forks.to_i %></div>
                <div class="ui label"><i class="bug icon"></i><%= p.open_issues.to_i %></div>
              </div>
            </div>
            <% if p.topics.present? %>
              <div class="extra content">
                <div class="ui mini labels">
                  <% Array(p.topics).each do |t| %>
                    <div class="ui basic label"><%= t %></div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </a>
        <% end %>
      </div>
      <div class="ui clearing segment" style="border:none; box-shadow:none; padding-top:0;">
        <% current_page = params[:page].to_i; current_page = 1 if current_page <= 0 %>
        <% prev_page = current_page - 1 %>
        <% next_page = current_page + 1 %>
        <% base_params = { q: params[:q], lang: params[:lang], topic: params[:topic] }.compact %>
        <div class="ui right floated buttons">
          <% if current_page > 1 %>
            <%= link_to "Previous", projects_path(base_params.merge(page: prev_page)), class: "ui button" %>
          <% end %>
          <% if @projects.size == 24 %>
            <%= link_to "Next", projects_path(base_params.merge(page: next_page)), class: "ui button" %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="ui info message">No projects yet.</div>
    <% end %>
  </div>
</div>
