<div class="ui stackable grid">
  <div class="sixteen wide column">
    <h1 class="ui header"><i class="newspaper outline icon"></i><div class="content">Blog</div></h1>
    <% if user_signed_in? %>
      <div class="ui right aligned basic segment" style="padding:0;">
        <%= link_to "New Post", new_post_path, class: "ui primary button" %>
      </div>
    <% end %>
  </div>

  <% if @posts.any? %>
    <div class="sixteen wide column">
      <div class="ui divided items">
        <% @posts.each do |post| %>
          <div class="item">
            <div class="content">
              <a class="header" href="<%= post_path(post) %>"><%= post.title %></a>
              <div class="meta">
                <span><%= time_ago_in_words(post.published_at || post.created_at) %> ago</span>
                <span>by <%= post.user.name %></span>
                <% if table_exists?('categories') && post.category %>
                  <span>· <%= link_to post.category.name, posts_path(category: post.category.slug) %></span>
                <% end %>
              </div>
              <% if table_exists?('tags') && table_exists?('post_tags') && post.tags.any? %>
                <div class="extra">
                  <div class="ui mini labels">
                    <% post.tags.each do |t| %>
                      <div class="ui basic label"><%= t.name %></div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="sixteen wide column">
      <div class="ui info message">No posts yet.</div>
    </div>
  <% end %>
</div>
